.course-picture {
  width: 10rem;
  height: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.course-link {
  display: block;
  max-width: 20rem;
  margin: 0 auto;
  
  p {
    color: $text-primary;
  }

  &:hover {
    p {
      text-decoration: none;
    }
  }
}

.chapter-tile-num {
  flex: 0 0 3rem;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  background: transparent url('/img/brush.svg') center/contain no-repeat;
  color: white;
  font-weight: $font-weight-extra;
  text-align: center;
  font-size: 1.5rem;
  margin-right: 1rem;
}