$bg-primary: white;
$bg-secondary: #476fc2;
$bg-alert: #d56868;
$bg-caution: #dc3b3b;
$text-primary: #494947;
$text-heading: #476fc2;
$text-emphasis: #e3c567;
$link-color: #88f;

// Bootstrap
$font-family-sans-serif:      'Raleway', sans-serif, !default;
$font-family-monospace:       'Ubuntu Mono', monospace, !default;

$font-size-base:              1rem !default;
$spacer:                      1rem !default;

$font-weight-light:           300 !default;
$font-weight-normal:          500 !default;
$font-weight-bold:            700 !default;
$font-weight-extra:           900 !default;

$h1-font-size:                $font-size-base * 3.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.35 !default;
$h4-font-size:                $font-size-base * 1.2 !default;
$h5-font-size:                $font-size-base * 1.1 !default;
$h6-font-size:                $font-size-base !default;

$headings-margin-bottom:      ($spacer / 2) !default;
$headings-font-weight:        $font-weight-extra !default;
$headings-line-height:        1.2 !default;
$headings-color:              $text-heading !default;

$display1-size:               5rem !default;
$display2-size:               4.5rem !default;
$display3-size:               3.5rem !default;
$display4-size:               2.5rem !default;

$display1-weight:             $font-weight-extra !default;
$display2-weight:             $font-weight-extra !default;
$display3-weight:             $font-weight-extra !default;
$display4-weight:             $font-weight-extra !default;
$display-line-height:         $headings-line-height !default;

$lead-font-size:              ($font-size-base * 1.25) !default;
$lead-font-weight:            $font-weight-normal !default;
