.course-picture {
  width: 10rem;
  height: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.course-link {
  display: block;
  max-width: 20rem;
  margin: 0 auto;
  
  p {
    color: $text-primary;
  }

  &:hover {
    p {
      text-decoration: none;
    }
  }
}