@mixin debug() {
  border: 1px solid black;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
}

body {
  color: $text-primary;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media only screen and (min-width: 440px) {
  .container {
    padding: 0 2rem;
  }
}

@media only screen and (min-width: 880px) {
  .container {
    padding: 0 3rem;
  }
}


a {
  text-decoration: none;
  color: $link-color;
  
  &:hover {
    text-decoration: underline;
  }

  &:visited, &:active {
    color: $link-color;
  }
}

p, li, dd {
  margin: 0 0 1rem 0;
  line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-secondary;
}

h1, h2, h3 {
  font-weight: $extra-bold;
}

h1 {
  font-size: 3rem;
  margin: 2rem 0;
}

h2 {
  font-size: 2rem;
  margin: 4rem 0 2rem 0;
}

h3 {
  font-size: 1.3rem;
  margin: 3rem 0 1.5rem 0;
}

button {
  border: none;
  outline: none;
  background-color: $bg-alert;
  color: white;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 5px #444;
  border-radius: 4px;
  cursor: pointer;    
}