$bg-primary: white;
$bg-secondary: #6a6ac3;
$bg-alert: #d56868;
$bg-caution: #dc3b3b;
$text-primary: #444;
$text-secondary: #1f2b70;
$link-color: #88f;

$extra-bold: 900;

@import "normalize/import-now";
@import "layout";
@import "landing";
@import "course";
@import "chapter";

