@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/LatoLatin-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/LatoLatin-Heavy.woff2') format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 800;
	src: url('/fonts/LatoLatin-Black.woff2') format('woff2');
}


@font-face {
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Ubuntu-Mono-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: 700;
	src: ('/fonts/Ubuntu-Mono-Bold.woff2') format('woff2');
}