@import "normalize/import-now";
@import "fonts";

$lemon: #edff71;
$czblue: #283891;

@mixin debug() {
  border: 1px solid black;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #444;
}

p {
  line-height: 140%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 5rem;
}

h1, h2, h3, h4 {
  color: $czblue;
}

.intro {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 3rem;
}

.intro-image {
  width: 20rem;
  height: 20rem;
  padding-top: 2rem;
  flex: 0 0 auto;
}

.intro-text {
  text-align: center;
}

.intro-title {
  font-weight: 900;
  font-size: 5rem;
  margin-bottom: 0;
}

.intro-subtitle {
  font-size: 1.6rem;
  margin-top: 0.5rem;
}

@media only screen and (min-width: 880px) {
  .intro {
    padding: 2rem 3rem;
    flex-flow: row nowrap;
  }

  .intro-image {
    width: 16rem;
    height: 16rem;
  }

  .intro-text {
    text-align: left;
    padding-left: 3rem;
  }
}

.courses {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.course-tile {
  text-align: center;
  flex: 1 0 100%;
}

@media only screen and (min-width: 880px) { 
  .courses {
    flex-flow: row nowrap;
  }
  
  .course-tile {
    flex: 1 0 50%;
  }
}

.course-picture {
  width: 10rem;
  height: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.course-link {
  display: block;
  max-width: 20rem;
  margin: 0 auto;
  text-decoration: none;
  
  &:hover {
    h2 {
      text-decoration: underline;
    }
  }
}

.course-title {
  font-size: 3rem;
  font-weight: 900;
}